<form>
  <p class="font-bold text-sm text-custom-blueViolet py-3">Bill From</p>
  <div>
    <label>Street Address</label>
    <input type="text" class="block w-full" />
  </div>
  <div class="flex">
    <div class="mr-6 mt-5">
      <label>City</label>
      <input type="text" class="block" />
    </div>
    <div class="mt-5">
      <label>Post code</label>
      <input type="text" class="block" />
    </div>
  </div>
  <div class="mt-5">
    <label>Country</label>
    <input type="text" class="block w-full" />
  </div>
</form>
