<nav>
  <div class="flex lg:flex-col items-center">
    <div class="flex items-center mr-5">
      <button (click)="darkMode()">
        @if (darkModeOn) {
        <svg-icon src="./../../assets/icon-moon.svg"></svg-icon>
        }@else{
        <svg-icon src="./../../assets/icon-sun.svg"></svg-icon>
        }
      </button>
    </div>
    <div class="w-[1px] h-[72px] bg-custom-mistyBlue opacity-50"></div>
    <div class="p-5">
      <img
        src="../../../assets/image-avatar.jpg"
        alt="avatar"
        class="rounded-full w-[32px] h-[32px]"
      />
    </div>
  </div>
</nav>
